<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>H+ 后台主题UI框架 - 数据表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	 <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <!-- 表格样式 -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
	
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>数据列表</h5>
                    </div>
					<form method="get" class="form-horizontal">
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover " id="editable">
                           
                            <tbody>
                                <tr class="gradeC">
                                    <td>角色名</td>
                                    <td>
										<div class="col-sm-6">
											<input type="text" class="form-control" placeholder="提示信息">
										</div>
									</td>
							   </tr>
							 
                               <tr class="gradeC">
                                    <td>
										<div class="checkbox i-checks">
											<label>
												<input type="checkbox" value=""> <i></i> 权限管理
											</label>
										</div>
									</td>
                                    <td>
										<div class="col-sm-10">
											<div class="checkbox i-checks">
												<label>
													<input type="checkbox" value=""> <i></i> 添加权限
												</label>
												<label>
													<input type="checkbox" value=""> <i></i> 编辑权限
												</label>
												<label>
													<input type="checkbox" value=""> <i></i> 权限列表
												</label>
												<label>
													<input type="checkbox" value=""> <i></i> 删除权限
												</label>
											</div>
											
										</div>
                                    </td>
                               </tr>  
							   <tr class="gradeC">
									<td>
										<div class="checkbox i-checks">
											<label>
												<input type="checkbox" onclick="choosebox(this)"> <i></i> 全选
											</label>
										</div>
									</td>
                                    <td>
										<div class="col-sm-10">
											<div class="form-group">
												<div class="col-sm-4 col-sm-offset-2">
													<button class="btn btn-primary" type="submit">保存</button>
													<button class="btn btn-white" type="submit">取消</button>
												</div>
												
											</div>
										</div>
									</td>
                                    
                               </tr>   							   
                               
                            </tbody>

                        </table>
						
						<div class="row">
							 <div class="col-sm-6"> 
								 <div class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">
								 显示 1 到 10 项，共 57 项</div>
							 </div> 
							<div class="pull-right col-sm-6">
								<div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
									<ul class="pagination">
										<li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
											<a href="#">上一页</a>
										</li>
										<li class="paginate_button active" aria-controls="editable" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="editable" tabindex="0">
											<a href="#">2</a>
										</li>
										<li class="paginate_button " aria-controls="editable" tabindex="0">
											<a href="#">3</a>
										</li>
										<li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
											<a href="#">下一页</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
					</form>
                </div>
            </div>
        </div>
    </div>

    <!-- 弹框 -->
    
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
	<script src="js/plugins/iCheck/icheck.min.js"></script>
	
	<!-- 插件 -->
	 <script src="js/plugins/layer/layer.min.js"></script>
	<!-- 自定义 -->
	<script>
		//删除
		function  del(){
			
			layer.confirm('您确定要删除？', {
				skin: 'layui-layer-molv', //样式类名
				btn: ['确定','取消'] //按钮
				
				}, function(){
				  layer.msg('删除成功', {icon: 1});
				}
			);
		}
		
		$(document).ready(
            //选择按钮
           function(){
		   $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",}
            )
		});
		
		 // 全选
        function choosebox(o){
          alert();
        }
	
	
	
	</script>
   
</body>

</html>